@import "grid";
@import "blocks/header";
@import "blocks/main";

@font-face {
  font-family: OpenSans;
  src: local('./fonts/OpenSans');
}

@font-face {
  font-family: FreestyleScript;
  src: local('./fonts/FreestyleScript.ttf');
}

* {
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  font-family: OpenSans, sans-serif;
}

a {
  text-decoration: none;
}